body {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

.carousel {
    margin-top: 20px;
    display: flex;
}

.carousel__btn {
    cursor: pointer;
    position:relative;
    width: 25px;
    height: 30%;
    outline: none;
    user-select: none;
    border: none;
    opacity: 0.4;
    top: 35%;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
}
.prev {
    left: 25px;
    border-left: none;
}
.next {
    right: 25px;
    border-right: none;
}

.carousel__image {
    transition: 0.5s;
}
