body {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

.carousel {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.carousel__image {
    box-shadow: 1px 1px 15px #909090;
    justify-self: center;
}

.carousel__image-container {
    display: flex;
}

.carousel__btn {
    cursor: pointer;
    position:relative;
    width: 25px;
    height: 30%;
    outline: none;
    user-select: none;
    border: none;
    opacity: 0.4;
    top: 35%;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
    transition: 0.2s;
    &:hover {
        opacity: 0.7;
    }
}
.prev {
    left: 25px;
    border-left: none;
}
.next {
    right: 25px;
    border-right: none;
}

.carousel__dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #e8e8e8;
    border-radius: 50%;
    border: 1px solid lightgray;
    transition: 0.15s;
    box-shadow: 1px 1px 10px #F0F0F0;
}

.carousel__previews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.preview {
    cursor: pointer;
    border: 1px solid lightgray;
    transition: 0.2s;
    box-shadow: 1px 1px 10px #F0F0F0;
}

.carousel__fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #E0E0E0;
    opacity: 0.5;
    right: 65px;
    transition: 0.15s;

    &:hover {
        opacity: 0.8;
    }
    //bottom: 40px;
}